@import "tailwindcss";

:root {
  /* ================================
     TEMA ESCURO
     ================================ */

  /* Cores principais */
  --background: #0B1120;
  --foreground: #F8FAFC;

  /* Cards */
  --card: #111827;
  --card-border: #1E293B;

  /* Marca */
  --primary: #8B5CF6;
  --primary-hover: #7C3AED;

  /* Estados financeiros */
  --income: #22C55E;
  --expense: #EF4444;

  /* Textos */
  --muted: #94A3B8;

  /* Raio padrão */
  --radius: 16px;
}

/* ================================
   TEMA CLARO
   ================================ */

.light {
  --background: #F8FAFC;
  --foreground: #0F172A;

  --card: #FFFFFF;
  --card-border: #E2E8F0;

  --primary: #6D28D9;
  --primary-hover: #5B21B6;

  --income: #16A34A;
  --expense: #DC2626;

  --muted: #64748B;

  --radius: 16px;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



*::selection {
  background: var(--primary);
  color: white;
}



body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", system-ui, sans-serif;

  transition:
    background-color 200ms ease,
    color 200ms ease;
}